extends ../template
block content
  body
    h1 Datastreams
    table(class='data_table')
      tr
        th unitOfMeasurement.name
        th observationType
        th uuid
        th metadata.author
        th metadata.created
        th metadata.modified
        th sersorId
        th observedPropertyId
        th
      each datastream in datastreams
        tr
          td #{datastream.unitOfMeasurement.name}
          td #{datastream.observationType}
          td #{datastream.uuid}
          td #{datastream.metadata.author}
          td #{datastream.metadata.created}
          td #{datastream.metadata.modified}
          td #{datastream.sensorId}
          td #{datastream.observedPropertyId}
          td
            a(onclick="deleteObject('dataStreams', '#{datastream.uuid}')") X
